
a {
    text-decoration: none;
}

:visited {
    color: purple;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 5%;
    background-color: #2851E3;
    font-family: inter, sans-serif;
    font-weight: 500;
    
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    list-style: none;
    font-size: 16px;
    color: #e0e0e0;
    text-transform: capitalize;
}

li:hover {
    cursor: pointer;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.navbtn {
    padding: 8px 22px;
    gap: 10px;
    width: 134px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #2851E3;
    border: none;
    font-family: inter, sans-serif;
    font-weight: 500;
}

.nav-menu {
    display: none;
}

@media screen and (max-width: 1000px) {
    .nav-menu {
        display: block;
    }
    .navbtn {
        display: none;
    }


}

@media screen and (max-width: 878px) {
    .nav-items {
        display: none;
    }

}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3563E9;
    padding: 50px;
    
}

.bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 70px;
    margin-bottom: 30px;
}

.info {
    font-family: inter, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 33px;
    color: #FFFFFF;
}

.info span {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 15px;
}

.info a {
    display: block;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 13px;
}


hr {
    width: 80%;
    height: 1px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    opacity: 0.06;
}

.more-links {
    font-family: inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;

}

.more-links a {
    margin-right: 5px;
}

.socials {
    margin-left: auto;
}

a:hover {
    cursor: pointer;
}
